@import url("https://fonts.googleapis.com/css?family=Nunito");

:root {
  --sapphire-color: #0e2e5c;
}

body {
  margin: 0;
  font-family: "Nunito", Roboto, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444 !important;
}

.svg-inline--fa {
  padding-right: 10px;
}

.css-cveggr-MuiListItemIcon-root {
  min-width: 38px !important;
}

.link-decoration {
  text-decoration: none;
  color: #203568;
}

.icon {
  color: #203568;
}

.textarea {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-size: 20px;
}

/* row */
.row {
  width: 100%;
}

/* padding */
.pt-20 {
  padding-top: 20px;
}

.pt-40 {
  padding-top: 40px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-60 {
  padding-bottom: 60px;
}
/* .sapphire {
  color: var(--sapphire-color);
} */
